img {
    max-height: 70vh;
    width: 100%;
    opacity: 0.8;
}

.container h3 {
    text-align: center;
    background-color: gray;
    margin: 10px;
    padding: 10px;
}

.container {
    height: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

hr {
    line-height: 2px;
}