{% extends 'blog/base.html' %}
{% block title %}Lablepost{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock  %}
{% block body %}
<div class="container">
<ul>
</ul>
{% for posts in page_obj %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{posts.blog_img}}" alt="..." id="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <a href="/blogs/blogpost/{{posts.blog_title}}">
        <h5 class="card-title">{{posts.blog_title}}</h5>
        <p class="card-text"><div class="preview">{{posts.blog_description|slice:"0:130"|safe}}.....</div></p>
        </a>
        <p class="card-text"><small class="text-muted">Posted by {{posts.blog_by}}
            {{posts.pub_data}}{% comment "" %}<span>({{posts.views}}views)</span>{% endcomment %}</small></p>
            
      </div>
    </div>
  </div>
</div>
{% endfor %}

  <div class="clearfix">
    <span>
      {% if page_obj.has_previous %}
        <a class="m-1 btn btn-outline-success float-left" href="?page=1"> &laquo;first</a>
        <a class="m-1 btn btn-outline-success float-left" href="?page={{page_obj.previous_page_number}}">previous</a>
      {% endif %}
        <span>
          <span class="current">
            Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
          </span>
        </span>
      {% if page_obj.has_next %}
        <a class="m-1 btn btn-outline-success float-right" href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
        <a class="m-1 btn btn-outline-success float-right" href="?page={{page_obj.next_page_number}}">next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}