{% extends 'blog/base.html' %}
{% block title %}Post{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="sentMessage" id="contactForm" enctype="multipart/form-data" novalidate method="post"
                action="/blogs/post/">{% csrf_token %}
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Blog Title" id="name" required
                            data-validation-required-message="Please enter title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Sub Title</label>
                        <input type="text" class="form-control" name="sub_title" placeholder="Sub Title" id="email"
                            required data-validation-required-message="Please enter sub title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Blog By</label>
                        <input type="text" class="form-control" name="blog_by" placeholder="Blog_by" id="phone" required
                            data-validation-required-message="Please enter blog author name">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Blog Category</label>
                        <input type="text" class="form-control" name="blog_category" placeholder="Blog_category"
                            id="phone" required data-validation-required-message="Please enter blog author name">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Date</label>
                        <input type="datetime-local" class="form-control" name="date" value="YYYY-MM-DDThh:mm:ssTZD"
                            placeholder="datetime" id="phone" required
                            data-validation-required-message="Please select date and time.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image" placeholder="image" id="image" required
                            data-validation-required-message="Please upload an image." accept="image/*">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Blog Description</label>
                        <textarea rows="5" class="form-control" id="mytextarea" name="description"
                             id="id_blog_description" required
                            data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <button type="submit" class="btn btn-outline-success mb-3" id="sendMessageButton">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
tinymce.init({
    selector:'textarea',
    height: 656,
      plugins: [
      'codesample',
      'code',
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'code |undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
    a11y_advanced_options: true,
    codesample_global_prismjs: true,
    content_css: 'css/content.css'
    });

</script>
{% endblock js %}