footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: crimson;
}