{% extends 'mainpage/base.html' %}
{% block title %}About{% endblock  %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"
{% endblock %}

{% block body %}
<img src="/media/aboutus.jpg" alt="background image" class="img-thumbnail" id="bgimg">
<hr>
<div class="container">

    <h2 class="card-title text-center bg-gray">About Us</h2>
    <div id="about">
      <p id = 'quote'>"The only thing that you absolutely have know, is the location of library."</p>
      <p>Bonjour!</p>
      <p>We, the students of Shyam Lal College, University of Delhi, have excogitated to provide help to our beloved fellows. We are working on a platform (website) that would provide the students of University of Delhi, easy access to <span> study material i.e. books and notes.</span></p>
      <p>When we were freshers, we had to face issues related to availability of books. We didn't had proper understanding as to which book should we prefer and purchase. </p>
      <p>The website will consist of a <span>blog section</span> as well where in, all of you will get a chance to showcase your creative talent and getting your articles published. All that you need to do is share your writeups with us and we'll get it <span> posted on our website. </span></p>
      <p>You can contact the undersigned for any queries.</p>
    </div>
    <div id='signed'>
      <p><span>Arun Kumar</span> <br> <span>Mob. no.- 9625377894</span></p>       
      <p><span>Aditya Shakya</span><br><span>Mob. no.- +91 87005 11472</span></p>
    </div>
</div>

{% endblock  %}