<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        h2 {
            background-color: rgba(130, 131, 128, 0.952);
            text-align: center;
        }
        
        .container {
            background-color: rgba(178, 243, 248, 0.883);
            border: 2px solid black;
            border-radius: 5px;
            padding: 10px;
        }
        
        #p1 {
            font-style: italic;
            font-weight: bold;
        }
        
        span {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2>About Us</h2>
    <div class="container">
        <p id="p1">
            "The only thing that you absolutely have know, is the location of library."
        </p>
        <p>
            Bonjour!
        </p>
        <p>
            We, the students of Shyam Lal College, University of Delhi, have excogitated to provide help to our beloved fellows. We are working on a platform (website) that would provide the students of University of Delhi, easy access to <span>material i.e. books
            and notes.</span>
        </p>
        <p>
            When we were freshers, we had to face issues related to availability of books. We didn't had proper understanding as to which book should we prefer and purchase.
        </p>
        <p>
            The website will consist of a blog section as well where in, all of you will get a chance to showcase your creative talent and getting your articles published. All that you need to do is share your writeups with us and we'll get it posted on our website.
        </p>
        <p>
            You can contact the undersigned for any queries.
        </p>
        <p>
            Arun Kumar Mob. - 9625377894
        </p>
        <p>
            Aditya Shakya Mob. -
        </p>
    </div>
</body>

</html>