{% extends 'mainpage/base.html' %}
{% block title %}Home{% endblock  %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block body %}

<img src="/media/bg.png" class="img-thumbnail1" alt="" style="margin-left:13px;">
<hr>
{% if blogpost %}
<div class="container mt-2">
    
    <h3>Latest Blog</h3>
    
    {% for post in blogpost %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
        <div class="card1 mx-auto my-2 p-2 align-items-center" style="width: 18rem;" id="{{forloop.counter}}">

            <img src="/media/{{post.blog_img}}" class="padded" alt="{{post.blog_title}}img">
            <div class="card-body">
                <hr>
                <h5 class="card-title">{{post.blog_title}}</h5>
                <p class="card-text">
                    <div class="preview">{{post.blog_description|slice:"0:130"|safe}}.....</div>
                </p>
                <p><small>by {{post.blog_by}} at {{post.pub_data}}</small></p>
                <a href="/blogs/blogpost/{{post.blog_title}}" class="button">Continue
                    reading&raquo;</a>
            </div>

        </div>
        {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><a href="/blogs/ourblog/" class="button1" style="margin-top:8px;">Read More&raquo;</a><!-- row closing -->{%  endif %}
    {% endfor %}
    
    
    
</div>
{% else %}
    No blog added yet<br>
{% endif %}
{% if news %}
<div class="container my-5">
    <h3>Latest News</h3>
    {% for post in news %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
        <div class="card1 mx-auto my-2 p-2 align-items-center" style="width: 18rem;" id="{{forloop.counter}}">

            <img src="/media/{{post.news_image}}" class="padded" alt="{{post.blog_title}}img"><hr>
            <div class="card-body">
                <h5 class="card-title">{{post.news_title}}</h5>
                <p class="card-text">
                    <div class="preview">{{post.news_description|slice:"0:130"|safe}}.....</div>
                </p>
                <a href="/newses/{{post.news_title}}" class="button">Continue
                    reading&raquo;</a>
            </div>

        </div>
        {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><a href="/news/" class="button1" style="margin-top:8px;" >Read More&raquo;</a><!-- row closing -->{%  endif %}
    {% endfor %}
</div>
{% else %}
No news added yet<br>
{% endif %}

{% endblock  %}
{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}