{% extends 'base.html' %}
{% block title %}News{% endblock  %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}"
{% endblock %}
{% block body %}
<hr>
<h2 class="text-center">News and Important Updates</h2><hr>

<div class="container">
{% for new in news %}
<div class="card1 mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{new.news_image}}" alt="..." id="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <a href="/newses/{{new.news_title}}">
        <h5 class="card-title">{{new.news_title}}</h5>
        <p class="card-text">{{new.news_description|slice:"0:130"|safe}}.....</p>
        </a>
        <p class="card-text"><small class="text-muted"> {{new.news_date}}
          </small></p>
            
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>
  <div class="clearfix">
    <span>
      {% if news.has_previous %}
        <a class="btn btn-primary float-left" href="?page=1"> &laquo;first</a>
        <a class="btn btn-primary float-left" href="?page={{news.previous_page_number}}">previous</a>
      {% endif %}
        <span>
          <span class="current">
            Page{{news.number}} of {{news.paginator.num_pages}}
          </span>
        </span>
      {% if news.has_next %}
        <a class="btn btn-primary float-right" href="?page={{news.paginator.num_pages}}">last &raquo;</a>
        <a class="btn btn-primary float-right" href="?page={{news.next_page_number}}">next</a>
      {% endif %}
    </span>
  </div>

{% endblock %}

