{% extends 'mainpage/base.html' %}
{% block title %}Subject{% endblock  %}
{% load static %}
{% block css %}
<link rel='stylesheet' href="{% static 'css/subject.css' %}"
{% endblock  %}
{% block body %}
{% if subject %}
<div class="container">
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Semester</th>
      <th scope="col">Subject Category</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
  {% for subjects in subject  %}
    <tr>
      <td>{{subjects.sub_sem}}</td>
      <td>{{subjects.sub_name}}</td>
      <td><a href="/notes/{{subjects.subject_id}}/">{{subjects.subject_name}}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<h3>Subject not added yet</h3>
{% endif %}
{% endblock %}